/* Estilos de tags */
body {
    background-color: #fff;
    color: #525252;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1 {
    color: #E17A89; 
}

h2 {
    color: #E17A89;    
}

/* Estilos de classes */
.heading {
    text-align:left;
}

.heading-photo {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 10% 50%
}

.heading-title {
    line-height: 25%;
}

.links-button {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border-style: none;
    text-decoration: none;
}

.heading-description {
    font-family: Helvetica, sans-serif;
}