.heading {
    text-align:left;
}

.header-photo {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 10% 50%
}

body {
    color: #525252;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1 {
    color: #E17A89; 
}

h2 {
    color: #E17A89;    
}

.sub-title {
    line-height: 25%;
}

.links-button {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border-style: none;
}

#description {

}

#sk-translation {

}

#sk-management {

}

#sk-webdev {

}

#skills {

}