/* Tags */
body {
    background-color: #fff;
    color: #525252;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1, h2 {
    color: #E17A89;
}

h1 {
    text-align: center;
}

/* Sessões */
.heading {
    background-color: #E3E3E3;
}

.section, .photo {
    display: block;
    margin: auto;
    width: 50%;
}

.heading-photo {
    float: left;
    border-radius: 50%;
    object-fit: cover;
    object-position: 10% 50%;
    background-color: white;
    padding: 10px;
} 

.heading-title {
    clear: both;
}

.links {
    width: 50%;
    margin: auto;
}

.links-button {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border-style: none;
    text-decoration: none;
}

.heading-description {
    font-family: Helvetica, sans-serif;
    text-align: left;
    margin: auto;
}

/* Elementos */